body {
    background: antiquewhite;
}
header {
    text-align: center;
}
ol {
    list-style-position: inside;
}
.completed {
    text-decoration: line-through solid black;
}
#tasks-container {
    text-align: center;
    padding-left: 15%;    
    padding-right: 15%;
}
#lista-tarefas {
    display: flex;
    flex-flow: column;
    padding-left: 0 !important;
    min-height: 150px;
    margin: 20px 0;
    background: rgb(221, 221, 221);
    box-shadow: 5px 5px 5px ;
}
#buttons-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.buttonA {
    padding: 5px 10px;
    box-shadow: 2px 2px 5px;
    border: 0;
    border-radius: 5px;
    margin: 7px 10px;
}
.buttonA:hover{
    color: white;
    background-color: rgb(61, 61, 61);
}
.buttonB {
    padding: 5px 10px;
    box-shadow: 2px 2px 5px;
    border: 0;
    border-radius: 5px;
    margin: 7px 10px;
}
.buttonB:hover{
    color: white;
    background-color: rgb(61, 61, 61);
}
